
$navbar-color:                $dark-grey;
$navbar-hover-color:          $dark-grey;
$navbar-active-color:         rgba($dark-grey,.9);
$navbar-disabled-color:       rgba($dark-grey,.3);

$navbar-padding-y: 0;
$navbar-padding-x: 0;
