
$font-family-sans-serif:      "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$border-radius:               .2rem;
$border-radius-lg:            .25rem;
$border-radius-sm:            .15rem;

$link-hover-decoration:       none;

@import "colors";
@import "nav";
@import "carousel";
